// TODO: absolute import
@import '../../../sass/base/colors.scss';
@import '../../../sass/base/sizes.scss';

.Card-wrapper {
  position: relative;
  width: 100%;
  height: 288px;
  text-align: center;
}

.Card-wrapper-exit {
  position: initial;
}

.Card-helper {
  width: 100%;
  height: 288px;
  margin: 0 auto;
}

@media (min-width: 420px) {
  .Card-helper {
    min-width: 364px;
    width: 40%;
    height: 288px;
    margin: 0 auto;
  }
}

@media (min-width: 920px) {
  .Card-helper {
    min-width: 276px;
    width: 40%;
    height: 288px;
    margin: 0 auto;
  }
}

.Card-full-helper {
  height: calc(100% - 3.2rem);
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}

.Card-full-helper-enter {
  position: absolute;
  transition: all .3s ease-in-out;
}

.Card-full-helper-exit {
  z-index: 777;
  position: absolute;
  transition: all .3s ease-in-out;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: $size-max-container;
  text-decoration: none;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.29);
  background-color: $grey;
  color: $color-fg;
  transition: all .3s ease-in-out;
  &:visited,
  &:hover,
   {
    color: $color-fg;
  }
}

.block-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  .img {
    width: 96px;
    height: 96px;
  }
}

.block-info {
  position: relative;
  width: 100%;
  flex: 1;
  padding: 16px;
  background-color: white
}

.block-id {
  position: absolute;
  left: 0;
  bottom: 100%;
  padding: .4rem .8rem;
  background-color: $lighter-brow;
  color: $brown;
}

.title {
  margin: 0 0 .4rem 0;
  font-weight: bold;
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

.types-block {
  display: flex;
  margin-bottom: 8px;
}

.type {
  margin-right: .4rem;
  padding: .2rem .4rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  border: .1rem solid $light-brown;
  border-radius: .6rem;
  color: $brown;
}

.evolution-block {
  padding-left: .4rem;
  text-align: left;
  border-left: .4rem solid $brown;
  color: $brown;
}

.evolves-from {
  font-size: 2.4rem;
}
