.InputSearch {
  display: block;
  width: 100%;
  min-height: 5.2rem;
  margin-bottom: 1.6rem;
  text-align: center;
  font-weight: 300;
  font-size: 1.8rem;
  border: 0;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.29);
}

.InputSearch::placeholder {
  opacity: .8;
}
