// TODO: absolute import
@import 'sass/base/sizes.scss';

.App {
  height: 100%;
  max-width: $size-max-container;
  margin: 0 auto;
  position: relative;
  padding-top: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 1.6rem;
  padding-left: 1.6rem;
}

@media (min-width: 920px) {
  .App {
    padding-right: 0;
    padding-left: 0;
  }
}
