.App {
  height: 100%;
}
.App-page-transition {
  opacity: 1;
}

.App-page-enter {
  opacity: 0.01;
}

.App-page-enter.App-page-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.App-page-leave {
  opacity: 1;
}

.App-page-leave.App-page-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}